<!-- 328/diner/views/home.html -->

<include href="views/header.html" />
<body>
<!-- Navigation bar -->
<nav class="navbar navbar-light bg-light mb-3">
    <a class="navbar-brand ms-3" href="./">The Diner</a>
</nav>

<div class="container">
    <h1>We server lunch</h1>
    <img src="views/images/diner.jpg" alt="pic of a diner">
    <hr>
    <h2>Lunch Options</h2>
    <ul>
        <li>Burger & Fries</li>
        <li>Burrito</li>
        <li>Pizza</li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


</body>
</html>